:root {
    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 24px;
  
    --border-radius: 12px;
  
    --font-color: #323232;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: auto;
    color: var(--font-color);
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding:0 ;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    background-image: linear-gradient(62deg, #8EC5FC, #E0C3FC);
}

#particles-js{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

#rotating{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    font-family: 'Space Mono', monospace;
    font-size: 4em;
    gap: 45px;
}

#rotating p{
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding-top: 45vh;
}

#logo{
    font-size: 6em;
}

#main-content{
    display: none;
    height: 100vh;
    padding: 0 var(--spacing-3);
    width: 900px;
    margin: 0 auto;
    flex-direction: column;
}

.word {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
    opacity: 0;
}

.letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
  
.letter.behind {
    transform: rotateX(-90deg);
}
  
.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

h2{
    margin: 0;
    margin-bottom: var(--spacing-2);
}

nav {
    display: flex;
    align-items: center;
    padding: var(--spacing-3) 0;
}

.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
}

.navigation-item{
    margin: var(--spacing-1);
}

a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: 600;
}